.backpageContainer {
  height: 70vh;
  margin: 0rem 0.5rem;
  display: flex;
  .controlGroup {
    flex: 1 1 270px;
    padding: 0rem 2rem 0rem 0rem;
    justify-content: center;

    .backpagebtn {
      flex-direction: column;
      text-align: center;
      align-items: center;
      background-color: #00895e;
      color: white;
      border: none;
      margin-bottom: 2rem;
      padding: 1rem 2.5rem;
      border-radius: 0.7rem;
      letter-spacing: 0.2rem;
      width: 220px;
      font-size: 1.2rem;
      &:hover {
        background-color: #ffb92b;
        font-weight: bold;
        cursor: pointer;
      }
    }
    .tabGroup li.active {
      background-color: #ffb92b;
      padding: 1rem 1.5rem;
      color: rgb(53, 53, 53);
      text-align: center;
      font-weight: 600;
    }
  }
  .information {
    flex: 5 1 550px;
    background-color: rgb(243, 243, 243);
    text-align: left;
    padding-left: 2rem;
    margin: 0rem 1.5rem;
    overflow-y: auto;
    box-shadow: 0 0 10px 0.5px rgb(224, 224, 224) inset;
    .content {
      display: none;
      margin: 1.5rem 0rem;
      &.active {
        display: block;
      }
    }
    .info {
      margin-bottom: 1rem;
    }
    .tabTitle {
      font-size: 1.2rem;
      letter-spacing: 0.3rem;
      color: #3770b4;
      font-weight: bold;
    }
    .tabContent {
      font-size: 1rem;
      letter-spacing: 0.2rem;
      font-weight: 500;
    }
    .changeContent {
      padding-left: 0.5rem;
    }
    #changebtn {
      padding: 0.3rem 1.5rem;
      letter-spacing: 0.1rem;
      background-color: #3770b4;
      color: white;
      border: none;
      border-radius: 1rem;
      margin-left: 0.5rem;
      &:hover {
        background-color: #ffb92b;
        color: rgb(46, 46, 46);
      }
    }
  }
}
