<<<<<<< HEAD
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style-type: none;
}

header {
  margin-bottom: 0;
  display: flex;
  background-color: #00895e;
  align-items: center;
  flex-wrap: wrap;
  div {
    flex: 1 1 100px;
  }
  nav {
    flex: 1 1 300px;
    ul {
      max-width: 240px;
      list-style-type: none;
      text-align: right;
      font-weight: bold;
      margin-right: 1rem;
      margin-top: 0.5rem;
    }
  }
}
.adminbtn {
  background-color: #e6e6e6;
  text-decoration: none;
  color: #00895e;
  border: none;
  box-shadow: 1px 2px 3px 1px #006646;
  margin-top: 0.5rem;
  padding: 0.2rem 2rem;
  border-radius: 0.7rem;
  letter-spacing: 0.2rem;
  font-size: 18px;
  font-weight: 600;
  &:hover {
    background-color: #ffb92b;
    color: #005a3e;
    font-weight: bold;
  }
}

.orderMain {
  margin: 0.5rem 1.5rem;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  list-style-type: none;
}
section.left {
  flex: 7 1 300px;
  margin: 0rem 0.5rem;
  ul.bar {
    list-style-type: none;
    li.col {
      flex: 2 1 100px;
      font-weight: 600;
      font-size: 24px;
      text-align: center;
      letter-spacing: 0.2rem;
      padding: 1rem;
    }
  }
  ul.bar li:hover {
    color: #ffb92b;
    border-bottom: 6px solid #ffb92b;
  }
  .dishMenuCard {
    padding: 0.2rem;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    li {
      flex: 0 1 150px;
      flex-direction: column;
      align-items: center;
      letter-spacing: 0.2rem;
      font-weight: 600;
      font-size: 14px;
      img {
        margin: 0.5rem;
      }
      p {
        text-align: center;
      }
    }
  }
}

section.right {
  flex: 2 1 350px;
  min-width: 200px;
  margin: 0rem 0.5rem;
  border: 10px solid transparent;

  div.title {
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    padding: 1rem 0rem;
  }
  ul.list li {
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-size: 15px;
    letter-spacing: 0.15rem;
    align-items: center;
    .orderDish {
      font-weight: bold;
      // width: 200px;
      padding: 1rem;
      margin: 0.5rem 0rem;
    }
    .deleteBtn {
      border: 2px solid transparent;
      border-radius: 0.2rem;
      color: white;
      background-color: rgb(255, 201, 119);
      padding: 0.2rem 0.8rem;
      &:hover {
        border: 1.2px solid transparent;
        background-color: rgb(228, 0, 76);
        font-weight: bold;
      }
    }
    .countOfPrice {
      font-weight: bold;
      padding: 1rem 0rem 1rem 1rem;
      margin: 0.5rem 0rem;
      justify-content: center;
    }
  }

  .total {
    font-weight: bold;
    font-size: 1.2rem;
    color: #00895e;
    letter-spacing: 0.5rem;
    text-align: left;
  }
  .button1 {
    flex: 2 1 240px;
    color: white;
    text-align: center;
    font-weight: bold;
    background-color: #00895e;
    &:hover {
      background-color: #00aa74;
    }
  }
  .button2 {
    flex: 2 1 240px;
    color: white;
    text-align: center;
    font-weight: bold;
    background-color: #ffb92b;
    &:hover {
      background-color: #ffc23d;
    }
  }
}
.btn-group {
  .numCount {
    border: none;
    padding: 0.5rem;
    color: rgb(228, 0, 76);
    background-color: white;
  }
  .numCount:hover {
    background-color: rgb(228, 0, 76);
    border: none;
    color: white;
    font-weight: bold;
  }
}
img:hover {
  transform: scale(1.1);
  min-width: 120px;
}
=======
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style-type: none;
}

header {
  margin-bottom: 0;
  display: flex;
  background-color: #00895e;
  align-items: center;
  flex-wrap: wrap;
  div {
    flex: 1 1 100px;
  }
  nav {
    flex: 1 1 300px;
    ul {
      max-width: 240px;
      list-style-type: none;
      text-align: right;
      font-weight: bold;
      margin-right: 1rem;
      margin-top: 0.5rem;
    }
  }
}
.adminbtn {
  background-color: #e6e6e6;
  text-decoration: none;
  color: #00895e;
  border: none;
  box-shadow: 1px 2px 3px 1px #006646;
  margin-top: 0.5rem;
  padding: 0.2rem 2rem;
  border-radius: 0.7rem;
  letter-spacing: 0.2rem;
  font-size: 18px;
  font-weight: 600;
  &:hover {
    background-color: #ffb92b;
    color: #005a3e;
    font-weight: bold;
  }
}

.orderMain {
  margin: 0.5rem 1.5rem;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  list-style-type: none;
}
section.left {
  flex: 7 1 300px;
  margin: 0rem 0.5rem;
  ul.bar {
    list-style-type: none;
    li.col {
      flex: 2 1 100px;
      font-weight: 600;
      font-size: 24px;
      text-align: center;
      letter-spacing: 0.2rem;
      padding: 1rem;
    }
  }
  ul.bar li:hover {
    color: #ffb92b;
    border-bottom: 6px solid #ffb92b;
  }
  .dishMenuCard {
    padding: 0.2rem;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    li {
      flex: 0 1 150px;
      flex-direction: column;
      align-items: center;
      letter-spacing: 0.2rem;
      font-weight: 600;
      font-size: 14px;
      img {
        margin: 0.5rem;
      }
      p {
        text-align: center;
      }
    }
  }
}

section.right {
  flex: 2 1 350px;
  min-width: 200px;
  margin: 0rem 0.5rem;
  border: 10px solid transparent;

  div.title {
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    padding: 1rem 0rem;
  }
  ul.list li {
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-size: 15px;
    letter-spacing: 0.15rem;
    align-items: center;
    .orderDish {
      font-weight: bold;
      // width: 200px;
      padding: 1rem;
      margin: 0.5rem 0rem;
    }
    .deleteBtn {
      border: 2px solid transparent;
      border-radius: 0.2rem;
      color: white;
      background-color: rgb(255, 201, 119);
      padding: 0.2rem 0.8rem;
      &:hover {
        border: 1.2px solid transparent;
        background-color: rgb(228, 0, 76);
        font-weight: bold;
      }
    }
    .countOfPrice {
      font-weight: bold;
      padding: 1rem 0rem 1rem 1rem;
      margin: 0.5rem 0rem;
      justify-content: center;
    }
  }

  .total {
    font-weight: bold;
    font-size: 1.2rem;
    color: #00895e;
    letter-spacing: 0.5rem;
    text-align: left;
  }
  .button1 {
    flex: 2 1 240px;
    color: white;
    text-align: center;
    font-weight: bold;
    background-color: #00895e;
    &:hover {
      background-color: #00aa74;
    }
  }
  .button2 {
    flex: 2 1 240px;
    color: white;
    text-align: center;
    font-weight: bold;
    background-color: #ffb92b;
    &:hover {
      background-color: #ffc23d;
    }
  }
}
.btn-group {
  .numCount {
    border: none;
    padding: 0.5rem;
    color: rgb(228, 0, 76);
    background-color: white;
  }
  .numCount:hover {
    background-color: rgb(228, 0, 76);
    border: none;
    color: white;
    font-weight: bold;
  }
}
img:hover {
  transform: scale(1.1);
  min-width: 120px;
}
>>>>>>> 4faced98fe5d0cffa78aac36e47c8e266c4575bd
