.tablePages {
  font-family: "Microsoft JhengHei";
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  transition: all 0.2s;
  .tables {
    display: flex;
    flex: 6 1 500px;
    flex-wrap: wrap;
  }

  .takeout {
    flex: 1 1 180px;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
}
.tableBtn {
  width: 150px;
  height: 150px;
  border-radius: 1rem;
  text-align: center;
  background-color: rgb(255, 242, 220);
  margin: 0.5rem;
  font-size: 2.5rem;
  color: rgb(255, 174, 0);
  padding-top: 2.7rem;
  &:hover {
    background-color: #ffb92b;
    color: white;
  }
}
.tableBtn2 {
  width: 150px;
  height: 150px;
  border-radius: 1rem;
  text-align: center;
  background-color:#ffb92b ;
  margin: 0.5rem;
  font-size: 2.5rem;
  color: white;
  padding-top: 2.7rem;
  &:hover {
    background-color: rgb(255, 157, 65);
  }
}
.takeoutBtn {
  width: 150px;
  height: 150px;
  border-radius: 1rem;
  text-align: center;
  background-color: rgb(150, 202, 163);
  margin: 1rem 0rem;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  color: white;
  padding-top: 3.6rem;
  &:hover {
    background-color: #00895e;
    color: white;
  }
}
.takeoutBtn2 {
  width: 150px;
  height: 150px;
  border-radius: 1rem;
  text-align: center;
  background-color: #00895e;
  margin: 1rem 0rem;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  color: white;
  padding-top: 3.6rem;
  &:hover {
    background-color: #0fa374;
    color: white;
  }
}
